@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif !important;
}

* {
  box-sizing: border-box;
}
h1{
  padding: 0px;
  margin: 0px;
}

.w-full{
  width: 100% !important;
}

.all-center{
  display:  flex !important;
  align-items:center !important;
  justify-content:center !important;
}

.all-center-between{
  display:  flex !important;
  align-items:center !important;
  justify-content:space-between !important;
}

.all-center-around{
  display:  flex !important;
  align-items:center !important;
  justify-content:space-around !important;
}

.all-start{
  display:  flex !important;
   align-items:flex-start !important;
  justify-content:flex-start !important;
}

.all-end{
  display:  flex !important;
   align-items:flex-end !important;
  justify-content:flex-end !important;
}



@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

  #fadeIn {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
    }

    .fadeIn {
      -webkit-animation: fadeIn 2s ease-in-out;
      -moz-animation: fadeIn 2s ease-in-out;
      -o-animation: fadeIn 2s ease-in-out;
      animation: fadeIn 2s ease-in-out;
      }


      .offcanvas-body{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      
      /* .navbar-toggler{
        border:none;
        outline:none;
      }

      .navbar-toggler:focus{
        box-shadow:none;
      }
      */

      .show {
        height: 40vh;
        width: 100%;
      }

      .show div ul li{
        margin-top: 25px;
      }

      .show div button{
        width: 36px;
        height: 36px;
      }
